<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Group 23</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,400;0,500;0,700;1,200&display=swap"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static',filename='style.css') }}" />
	</head>
	<body>
		<div class="container">
			<h1 id="ProjectTitle">
				Predicting Food Prices in the Philippines using Regression
			</h1>
			<form>
				<div class="inputRow">
					<label for="Year">Year:</label>
					<input
						type="number"
						min="1950"
						max="3000"
						value="2023"
						id="year"
						name="year" />

					<label for="Month">Month:</label>
					<input
						type="number"
						min="1"
						max="12"
						value="6"
						id="month"
						name="month" />

					<label for="Inflation">Inflation:</label>
					<input
						type="number"
						step="0.01"
						min="0"
						max="1000"
						value="69.69"
						id="inflation"
						name="inflation" />
				</div>

				<div class="inputRow">
					<label for="Commodity">Commodity:</label>
					<select id="commodity" name="commodity">
						<option value="rice (regular)">Rice (regular)</option>
						<option value="rice (special)">Rice (regular)</option>
						<option value="eggs" selected>Eggs</option>
						<option value="mango">Mango</option>
						<option value="chicken">Chicken</option>
					</select>

					<label for="Pricetype">Pricetype:</label>
					<select id="pricetype" name="pricetype">
						<option value="retail" selected>Retail</option>
						<option value="wholesale">Wholesale</option>
					</select>

					<label for="Location">Location:</label>
					<select id="location" name="location">
						<option value="Region 1(Ilocos Norte)">
							Region 1(Ilocos Norte)
						</option>
						<option value="Metro Manila" selected>Metro Manila</option>
						<option value="region 6 (Iloilo)">Region 6 (Iloilo)</option>
						<option value="region 8 (southern leyte)">
							Region 8 (Southern Leyte)
						</option>
						<option value="region 10 (Lanao del Norte)">
							Region 10 (Lanao del Norte)
						</option>
					</select>
				</div>
				<div class="inputRow">
					<input class="button-34" type="submit" value="Submit" />
				</div>
			</form>
			<div id="pricebox">
				<p style="font-size: 1.5rem; color: white">Price is:</p>
				<p id="pricereveal" style="color: white">&#x20B1;{{price}}</p>
			</div>
			<footer id="group">
				<p>
					Group 23: Godfrey Angelo Convento, Emmerson Isip, Kyle David Libiran,
					Amiel David Zamuco
				</p>
			</footer>
		</div>
	</body>
</html>
